/* GLOBAL VARIABLE */
html, body {
    padding: 0;
    margin: 0;
    padding-top: 8vh;
    background: #222;
    color: #feffff;
    font-size: 100%;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 1px;
}

button {
    cursor: pointer;
}

/* HEADER */

header {
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    background-color: #111;
    border-top: 5px solid #111;
    border-bottom: 5px solid #111;
    display: flex;
    flex-direction: row;
}

.header-title {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 600;
}

/* BOARD */

.txt {
    color: #feffff;
    text-align: center;
    font-size: 5vh;
}

.board {
    padding: 0;
    margin: auto;
    width: 33vh;
    height: 33vh;
}

.button, .empty {
    border: 0;
    font-size: 3.5vh;
    margin: 0.5vh;
    padding: 0;
    height: 6vh;
    width: 7.25vh;
    line-height: 5vh;
    vertical-align: middle;
    background: #feffff;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    float: left}

.empty {
    background: #333;
    border: 1px solid #111
}

/* CONTAINER */
.container {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.file-submit-button, .file-clear-button, .calculate-button, .back-button {
    width: 120px;
    height: 45px;
    margin-top: 6px;
    border-radius: 30px;
    font-weight: 600;
    background-color: #feffff;
    color: #111;
    cursor: pointer;
    outline: none;
    border: 2px solid #feffff;
    font-size: 14px;
}

.file-submit-button:hover, .file-clear-button:hover, .calculate-button:hover, .back-button:hover {
    background-color: #111;
    color: #feffff;
    transition: all 0.25s ease;
}

.file-input-button::file-selector-button {
    cursor: pointer;
}

/* FOOTER */
footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.footer-label {
    margin: 0 20px;
}